.header{
    background-color: #ccc456;
    color: white;
    padding-left: 120px;
    padding-bottom: 50px;
    padding-top: 50px;
}
.teamplayer{
    margin-top: 20px;
    border-radius: 10px;
    display: inline-block;
    margin-left: 25px;
    width:170px;
    text-align: center;
}
.teamplayer-1{
    margin-top:20px;
    border: 2px dotted grey;
    border-radius: 10px;
    display: inline-block;
    margin-left: 20px;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-content: stretch;
}
button{
background-color: #40454d;
color: black;
text-align: left;

}
.menu-button{
    background-color: white;
    border-radius: 20px;
    padding-left: 60px;
    padding-right: 60px;
    margin-right: 20px;
    text-align: left;
}
.menu-button-1{
    border-radius: 20px;
    background-color: orange;
    color: white;
    padding-left: 60px;
    padding-right: 60px;
    text-align: left;
}
.menu-button-2{
    background-color: white;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 510px;
    text-align: left;
}
.display{
    margin-top: 20px;
    padding-top: 20px;
    
}
h1{
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}
.footer{
    background-color: black;
    height: 50%;
    color: white;
    padding-top: 20px;
        padding-left: 100px;
        padding-bottom: 20px;
        padding-right: 20px;
    }
mat-menu{
    background-color: blue;
}
.team-arrow{
    align-content:flex-end;
    text-align: right;
}
