<div>
    <mat-toolbar class="toolbar">
      <mat-toolbar-row>
        <span>
            <img src="/assets/header_1.png" alt="Site Logo"/>
        </span>
            <nav mat-tab-nav-bar class = "tabs">
                <a mat-tab-link 
                *ngFor="let link of navLinks"
                [routerLink]="link.link"
                routerLinkActive #rla="routerLinkActive"
                [active]="rla.isActive">{{link.label}}</a>
                
            </nav>
          <span class="example-spacer"></span>
          <a routerLink="/signup"> <button mat-stroked-button class="button" *ngIf="loginCheck.toString()=='false'"color="primary">Sign up</button></a>
        <a routerLink="/login"><button mat-raised-button class="button" *ngIf="loginCheck.toString()=='false'" color="primary" (click)="login()">Login</button></a>
        <a routerLink="/login"><button mat-raised-button class="button" *ngIf="loginCheck.toString()=='true'" color="primary" (click)="logout()">Logout</button></a>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet (activate)="loginbutton($event)"></router-outlet>
</div>
