.header{
    background-color: #40454d;
    height: 50%;
    color: white;
    align-items: center;
    text-align: left;
    align-content: center;
    padding-top: 30px;
    padding-left: 100px;
    padding-bottom: 20px;
    padding-right: 20px;
}
.h2-team{
    padding-left: 20px;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}
.desp{
    padding-left: 20px;
}
.h2-player{
    padding-left: 20px;
    font-weight: bold;
    color: #ccc456;
    font-family: "Times New Roman", Times, serif;
}
.footer{
background-color: black;
height: 50%;
color: white;

align-items: center;
text-align: left;
align-content: center;
padding-top: 40px;
    padding-left: 100px;
    padding-bottom: 20px;
    padding-right: 20px;
}
.player{
    border: 2px dotted grey;
    border-radius: 10px;
    display: inline-block;
    margin-left: 20px;
    width:170px;
    text-align: center;
}
.display{
    display: inline-block;
}
.teamplayer{
    border-radius: 10px;
    display: inline-block;
    margin-left: 20px;
    width:170px;
    text-align: center;
    
}
.team-arrow{

}